@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Manrope:wght@200..800&family=Rowdies:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.tarjeta { /*contenedor principal (padre)*/
    
    margin-top: 100px;   /*acomodo la imagen en el medio de la pantalla*/
    margin-left: 500px;  /*acomodo la imagen en el medio de la pantalla*/
    width: 300px;         /*elijo la altura y el ancho de la tarjeta*/
    height: 480px;         /*elijo la altura y el ancho de la tarjeta*/
    background-color:orange;    /*color que elijo para la tarjeta*/
    font-family: "Rowdies", sans-serif; /*fuente*/
    border: 3px solid orangered; /*el borde de la tarjeta*/
    border-radius: 10px;    /*las esquinas de la tarjeta redondeadas*/
    
}

.nombre { /*aplico diseño a la caja que dice "Charizard", que esta en la parte de arriba de mi tarjeta*/

    margin-left: 50px;
    width: 200px;
    background-color:orange;
    border: 3px solid orangered;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 20px;
}

.texto { /* al final de la tarjeta esta el texto con la descripcion del personaje. Le aplico diseño*/

    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 { /*este H2 es el titulo: Pokemon llama. Lo centro*/

    text-align: center;
}
